<ion-view view-title="amplifier">
  <ion-content>

      <br></br>
        <button class="button button-block button-large button-positive" ng-click="start()">
            {{buttonLabel}}
        </button>       
      <br></br>
        <label class="item">adjust microphone threshold <span class="badge">{{volume}}</span></label>
        <label class="item">Voice Intensity : <span class="badge">{{voiceDB}}</span></label>        
        
        <div class="item range">
            <i class="icon ion-volume-low"></i>
            <input type="range" name="volume" ng-model="volume" ng-change="onChangeVolume(volume)" ng-disabled="!isRunning">
            <i class="icon ion-volume-high"></i>
        </div>
  </ion-content>
</ion-view>
