    <ion-view view-title="ALLSPEAK home">  
        
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-settings" ui-sref="settings">  </button>
  </ion-nav-buttons>          
        
      <ion-content class="padding">
        <h1 style="text-align: center;"></h1><br/>
          <button class="button button-block button-positive" ui-sref="amplifier">
            Amplifier
          </button>
        <br/><br/>
        <button class="button button-block button-positive" ui-sref="recognition">
            Recognition
          </button>
        <br/><br/>        
        <button class="button button-block button-positive" ui-sref="vocabulary">
          Vocabulary
        </button>        
      </ion-content>
    </ion-view>