<ion-view view-title="ALLSPEAK HOME" align-title="center">  
        
    <ion-nav-buttons side="right">
    <!--<button class="button button-icon icon ion-settings" ui-sref="settings.device">  </button>-->
    </ion-nav-buttons>       
        
    <ion-content class="padding">
<!--        <h1 style="text-align: center;"></h1><br/>-->
        <button class="button button-block button-large button-positive" ui-sref="amplifier">Amplifica</button>
        
        <button class="button button-block button-large button-positive" ng-if="modelLoaded" ng-click="goRecognition()">Riconosci</button>
        <button class="button button-block button-large button-assertive" ng-if="!modelLoaded" ng-click="goRecognition()">Riconosci</button>
        
        <button class="button button-block button-large button-positive" ng-if="vocabularyTrained" ui-sref="training">Addestra</button>
        <button class="button button-block button-large button-assertive" ng-if="!vocabularyTrained" ui-sref="training">Addestra</button>
        
        <button class="button button-block button-large button-positive" ui-sref="voicebank">Voice Bank</button>        
        <button class="button button-block button-large button-positive" ui-sref="settings.device">Settings</button>        
        <br/><br/> 
        <br/><br/> 
        <button class="button button-block button-positive" ng-click="exit()">Exit</button>        

    </ion-content>
</ion-view>