<!--<ion-view view-title="Recording Session">-->
<ion-view>

    <ion-nav-title> {{ pageTitle }} </ion-nav-title>
    
    <ion-nav-bar class="bar-positive">    
        <ion-nav-buttons side="left">
            <button class="button button-header-big" ui-sref="home"><i class="ion-home"></i></button>
        </ion-nav-buttons>    
        
        <!--Scelta features extraction-->
<!--        <ion-nav-buttons side="right">
            <button class="button" ng-click="openSettings()">
                <i class="icon ion-settings"></i>
            </button>
        </ion-nav-buttons>          -->

    </ion-nav-bar>     

    <ion-content>
        <div class="card">
            <ion-item class="item item-divider"  style="background-color: #C2A5A5 !important">UTENTE PURA</ion-item>        
            <div class="button-bar">        
                <button class="button button-block button-positive button-huge" ng-if="!existingNets.pu.exist" ng-click="startNewSession(aNetType[0].value, false)">NUOVA</button>
                <button class="button button-block button-positive button-huge" ng-if="existingNets.pu.exist" ng-click="startNewSession(aNetType[0].value, true)">NUOVA</button>
                
                <button class="button button-block button-huge button-calm" ng-if="!existingNets.pu.exist && !existingNets.pua.exist" ng-disabled="true">AGGIORNA</button>
                
                <button class="button button-block button-huge button-calm" ng-if="existingNets.pu.exist && !existingNets.pua.exist" ng-click="startNewSession(aNetType[1].value, false, existingNets.pu.voc.sessionid)">AGGIORNA</button>
                <button class="button button-block button-huge button-calm" ng-if="existingNets.pu.exist && existingNets.pua.exist" ng-click="startNewSession(aNetType[3].value, true, existingNets.pua.voc.sessionid)">AGGIORNA</button>
            </div>              
        </div> 
        
        <ion-item class="item item-divider"></ion-item>

        <div class="card">
            <ion-item class="item item-divider"  style="background-color: #C2A5A5 !important">COMUNE ADATTATA</ion-item>        
            <div class="button-bar">        
                <button class="button button-huge button-block button-positive" ng-if="!existingNets.ca.exist" ng-click="startNewSession(aNetType[2].value, false)">NUOVA</button>
                <button class="button button-huge button-block button-positive" ng-if="existingNets.ca.exist" ng-click="startNewSession(aNetType[2].value, true)">NUOVA</button>

                <button class="button button-huge button-block button-calm" ng-if="!existingNets.ca.exist && !existingNets.cra.exist" ng-disabled="true">AGGIORNA</button>
                
                <button class="button button-huge button-block button-calm" ng-if="existingNets.ca.exist && !existingNets.cra.exist" ng-click="startNewSession(aNetType[4].value, false, existingNets.ca.voc.sessionid)">AGGIORNA</button>
                <button class="button button-huge button-block button-calm" ng-if="existingNets.ca.exist && existingNets.cra.exist" ng-click="startNewSession(aNetType[4].value, true, existingNets.cra.voc.sessionid)">AGGIORNA</button>
            </div>             
        </div> 
    </ion-content>    
    
    <ion-footer-bar class="bar-positive">
        <button class="button button-custom button-block button-positive text-big" ng-click="cancel()">RITORNA</button>
    </ion-footer-bar>     
    
</ion-view>



<!--        <div class="card">
            NEW PURE USER  always present, just change text
            <button class="button button-big button-block button-large button-positive" ng-if="!existingNets.pu.exist" ng-click="startNewSession(aNetType[0].value, false)">NUOVA UTENTE PURA</button>
            <button class="button button-big button-block button-large button-positive" ng-if="existingNets.pu.exist" ng-click="startNewSession(aNetType[0].value, true)">SOSTITUISCI UTENTE PURA</button>
            
            CREATE PUA or PURA 
            <button class="button button-block button-maxi button-calm" ng-if="existingNets.pu.exist && !existingNets.pua.exist" ng-click="startNewSession(aNetType[1].value, false, existingNets.pu.voc.sessionid)">ADATTA UTENTE PURA</button>
            <button class="button button-block button-maxi button-calm" ng-if="existingNets.pu.exist && existingNets.pua.exist" ng-click="startNewSession(aNetType[3].value, true, existingNets.pua.voc.sessionid)">RI-ADATTA UTENTE PURA</button>
        </div>                    
        
        <ion-item class="item item-divider"></ion-item>

        <div class="card">
            NEW CA
            <button class="button button-big button-block button-positive" ng-if="!existingNets.ca.exist" ng-click="startNewSession(aNetType[2].value, false)">NUOVA COMUNE</button>
            <button class="button button-big button-block button-positive" ng-if="existingNets.ca.exist" ng-click="startNewSession(aNetType[2].value, true)">SOSTITUISCI ADATTA COMUNE</button>
            
            REPLACE CA or CREATE CRA 
            <button class="button button-big button-block button-calm" ng-if="existingNets.ca.exist && !existingNets.cra.exist" ng-click="startNewSession(aNetType[4].value, false, existingNets.ca.voc.sessionid)">RIADATTA COMUNE</button>
            <button class="button button-big button-block button-calm" ng-if="existingNets.ca.exist && existingNets.cra.exist" ng-click="startNewSession(aNetType[4].value, true, existingNets.cra.voc.sessionid)">RIADATTA COMUNE</button>
        </div>  -->   