<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Inserisci un nuovo comando</h1>
    </ion-header-bar>
    
    <ion-content class="padding">
        <label class="item item-input">
            <span class="input-label">Nome</span>
            <input ng-model="newsentencelabel" type="text">
        </label>

        <div class="button-bar">
            <button class="button button-full button-positive" ng-click="saveNewSentence(newsentencelabel)">Salva</button>
            <button class="button button-full button-positive" ng-click="closeModal()">Cancella</button>
        </div> 

        <ion-item class="item item-dark">Seleziona la categoria</ion-item>
        <ion-radio ng-repeat="category in sentencesCategories" ng-model="selCategory.data" ng-value="category.id">{{ category.title }}</ion-radio>
    </ion-content>
</ion-modal-view>