<ion-view view-title="Audio Input Settings">
    
<ion-nav-buttons side="left">
 <button class="button button-clear" ui-sref="home"><i class="icon ion-arrow-left-c" ></i>Home</button>
</ion-nav-buttons>
    
  <ion-content>
    <div class="list">
        
<!--    <div>  Input source: {{input_sources}}  </div>
        <br></br>          
        <div>  selected Input Device : {{selectedSourceType}} </div>-->

<!--        <label class="item item-input item-select">
            <div class="input-label"> Input device </div>
            <select ng-model="selectedSourceType" ng-option="item.value as item.label for item in input_sources" ng-change="updateSourceType(selectedSourceType)"></select>
            <select ng-model="selectedSourceType" ng-option="item.value as item.label for item in input_sources" ng-change="updateSourceType(selectedSourceType)"></select>
            <select ng-model="selectedSourceType" ng-option="item.value as item.label for item in input_sources" ng-change="updateSourceType(selectedSourceType)"></select>
            <select ng-init="selectedSourceType = input_sources[0].value" ng-model="selectedSourceType" ng-change="updateSourceType(selectedSourceType)">
            <select ng-model="selectedSourceType" ng-change="updateSourceType(selectedSourceType)">
                <option ng-selected="{{item.value == captureCfg.audioSourceType}}" ng-repeat="item in input_sources" value="{{item.value}}">{{item.label}}</option>
            </select>            
        </label>-->

        <label class="item item-input item-select">
            <div class="input-label">S. Frequency</div>
            
            <select ng-model="selectedFrequency" ng-change="updateFrequency(selectedFrequency)">
                <option ng-selected="{{item.value == captureCfg.sampleRate}}" ng-repeat="item in sampling_frequencies" value="{{item.value}}">{{item.label}}</option>
            </select>            
        </label>     

        <label class="item item-input item-select">
            <div class="input-label">CaptureBuffer</div>
            
            <select ng-model="selectedCaptureBuffer" ng-change="updateCaptureBuffer(selectedCaptureBuffer)">
                <option ng-selected="{{item.value == captureCfg.bufferSize}}" ng-repeat="item in capture_buffer" value="{{item.value}}">{{item.label}}</option>
            </select>            
        </label>     

<!--        <label class="item">adjust microphone threshold <span class="badge">{{voicedetection.volume}}</span></label>
      
        <div class="item range">
            <i class="icon ion-volume-low"></i>
                <input type="range" name="volume" ng-model="voicedetection.volume">
            <i class="icon ion-volume-high"></i>
        </div>-->

        <label class="item">Data received : <span class="badge">{{totalReceivedData}}</span> </label>   

<!--<ion-item>
  <ion-label>Elapsed Time</ion-label>
  <ion-datetime displayFormat="mm:ss" [(ngModel)]="elapsedTime"></ion-datetime>
</ion-item>-->

        <label class="item">Elapsed Time : <span class="badge">{{elapsedTime*1000 | secondsToDateTime }}</span></label>      

<!--        <label class="item">
          # packets : <span class="badge">{{packetsNumber}}</span>
        </label>        -->

        <label class="item">bitrate : <span class="badge">{{bitRate}}</span></label>        

<!--        <label class="item">
          Voice is : <span class="badge">{{vad_status}}</span>
        </label>        -->

        <button class="button button-block button-positive" ng-click="startVoiceMonitoring()">{{vm_raw_label}}</button> 
        <button class="button button-block button-assertive" ng-click="startVoiceMonitoringDebug()">{{vm_fft_label}}</button> 

        <label class="item item-input item-select">
            <div class="input-label">SubSampling</div>
            
            <select ng-model="selectedSSF" ng-change="updateSubsamplingFactor(selectedSSF)">
                <option ng-selected="{{item.value == 0}}" ng-repeat="item in subsampling_factors" value="{{item.value}}">{{item.label}}</option>
            </select>            
        </label> 

        <div class="chart" style="width:100%; height:{{chart.height}}px; left:0px;">
            <div class="bar" style="height:{{chart.mean_data * chart.height / chart.yScale}}px; width:40px; left:10px;"></div>
            <!-- Labels -->
<!--            <div class="y" style="width:{{chart.height}}px; left:10;">{{chart.yAxis}}</div>
            <div class="x">{{chart.xAxis}}</div>-->
            <!-- Data -->
            <div ng-repeat="dot in chart.data track by $index" class="dot" style="bottom:{{(dot + chart.y0) * chart.height / chart.yScale}}px; left:{{($index + 0.5) / chart.data.length * chart.width + 60}}px;"></div>   
            <!--<div ng-repeat="bar in spectrum track by $index" class="bar" style="height:{{bar / max_spectrum * height}}px; width:1px:; left:{{$index / spectrum.length * width}}px;"></div>    {{chart.width / chart.data.length - 65}}px -->
            
            <!--{{dot / chart.max_data * chart.height*chart.yScale}}px-->
            
        </div>        
        
    </div>      
  </ion-content>
</ion-view>
