<ion-view view-title="Connection Settings">
  <ion-content>
    <h1>Setup Voice detection</h1>
    <br></br>
    adjust microphone threshold
    <div class="item range">
        <i class="icon ion-volume-low"></i>
            <input type="range" name="volume" ng-model="voicedetection.volume">
        <i class="icon ion-volume-high"></i>
    </div>
    {{voicedetection.volume}}
     <br></br>   
    <button class="button button-block button-positive" ng-click="startVoiceMonitoring()">
       Start Voice monitoring
     </button> 
     <br></br>
     Voice is {{vad_status}}    
  </ion-content>
</ion-view>
