<ion-view view-title="Settings">
<!-- <ion-nav-back-button class="button-clear">
  </ion-nav-back-button>  -->
    <ion-content scroll="false">
        <ion-tabs class="tabs-icon-top tabs-positive">

          <ion-tab title="Device" icon-on="ion-settings" icon-off="ion-settings" ui-sref="settings.device">
            <ion-nav-view name="device-settings"></ion-nav-view>
          </ion-tab>

          <ion-tab title="Bluetooth" icon-on="ion-bluetooth" icon-off="ion-bluetooth" ui-sref="settings.bluetooth">
            <ion-nav-view name="bluetooth-settings"></ion-nav-view>
          </ion-tab>

          <ion-tab title="Recognition" icon-on="icon ion-mic-a" icon-off="icon ion-mic-a" ui-sref="settings.recognition">
            <ion-nav-view name="recognition-settings"></ion-nav-view>
          </ion-tab>

<!--          <ion-tab title="Setup Audio Input" icon-on="icon ion-mic-a" icon-off="icon ion-mic-a" ui-sref="settings.setup_input">
            <ion-nav-view name="setupinput-settings"></ion-nav-view>
          </ion-tab>
-->
          <ion-tab title="Server Connection" icon-on="icon ion-android-cloud" icon-off="icon ion-android-cloud" ui-sref="settings.server_connection">
            <ion-nav-view name="server-settings"></ion-nav-view>
          </ion-tab>

        </ion-tabs>
    </ion-content>

</ion-view>