<ion-view view-title="Voice Detection">
    
    <ion-nav-buttons side="left">
        <button class="button button-clear" ui-sref="home"><i class="icon ion-arrow-left-c" ></i>Home</button>
    </ion-nav-buttons>
<!--    <ion-nav-buttons side="right">
        <button class="button button-clear" ui-sref="home"><i class="icon ion-arrow-left-c" ></i>Back</button>
    </ion-nav-buttons>-->
    
    <ion-content>
        <div class="list">
<!--            <label class="item item-input item-select">
                <div class="input-label">Sample Rate [Hz]</div>
                <select ng-model="selectedSR" ng-change="updateSR(selectedSR)" ng-options="item.label for item in aSR track by item.value"></select>            
            </label>     
 
            <label class="item item-input item-select">
                <div class="input-label">Capture Buffer Size</div>
                <select ng-model="selectedCBS" ng-change="updateCBS(selectedCBS)" ng-options="item.label for item in aCBS track by item.value"></select>            
            </label>   

            <label class="item item-input item-select">
                <div class="input-label">Analysis Chunk length [ms]</div>
                <select ng-model="selectedACL" ng-change="updateACL(selectedACL)" ng-options="item.label for item in aACL track by item.value"></select>            
            </label>              -->

            <div class="item item-input">
                <div class="input-label">Minimum Length [ms]</div>
                 <span class="badge">{{countMIL}}    
                <button type="button" ng-click="decrementCounter('MIL');">-</button>
                <button type="button" ng-click="incrementCounter('MIL');">+</button></span>
            </div>

            <div class="item item-input">
                <div class="input-label">Maximum Length [ms]</div>
                 <span class="badge">{{countMXL}}   
              <button type="button" ng-click="decrementCounter('MXL');">-</button>
              <button type="button" ng-click="incrementCounter('MXL');">+</button></span>
            </div>

            <div class="item item-input">
                <div class="input-label">Allowed Delay [ms]</div>
                 <span class="badge">{{countAD}}  
              <button type="button" ng-click="decrementCounter('AD');">-</button>
              <button type="button" ng-click="incrementCounter('AD');">+</button></span>
            </div>
            <div class="item range">
                <!--<i class="icon ion-volume-low"></i>-->
                Threshold:
                <input type="range" name="threshold" ng-model="volume" ng-change="onChangeThreshold(threshold)">
                <span class="badge">{{threshold}}</span>
            </div>
             <div class="button-bar">        
                <button class="button button-block button-round button-balanced" ng-click="save(1)">Save & Back</button>       
                <button class="button button-block button-round button-energized" ng-click="save(0)">Save</button>       
                <button class="button button-block button-round button-assertive" ng-click="cancel()">Back</button>       
            </div>               
            
        </div>      
    </ion-content>
</ion-view>
