<ion-view view-title="Recording Session">
    
    <ion-nav-bar class="bar-positive">    
        <ion-nav-back-button class="button-clear" ui-sref="training">
            <i class="ion-arrow-left-c"></i>Back
        </ion-nav-back-button>    
    </ion-nav-bar>     
    
    <ion-footer-bar class="bar-positive">
       
        <div class="button-bar">        
            <button class="button button-full button-positive" ng-click="completeSession()">{{labelResumeRecording}}</button>    
            <button class="button button-full button-positive" ng-click="submitSession()">{{labelSubmit}}</button>        
        </div>          
    </ion-footer-bar>     
    
    <ion-nav-buttons side="right">
        <button class="button" ng-click="deleteSession()">
            <i class="icon ion-trash-a"></i>
        </button>
    </ion-nav-buttons>     
    
    <ion-content>
<!--        <ion-item >Subject Name : <span class="badge"> {{subject.label}} </span></ion-item>    -->
        <ion-item >Session Name : <span class="badge"> {{sessionName}} </span></ion-item>    

        <ion-item class="item-button-right">Recorded Sentences
            <div class="buttons">
                <button class="button button-balanced" ng-click="askExtractFeatures();">
                    <i class="icon ion-stats-bars"></i>
                </button>
            </div>                
        </ion-item>    

        <ion-list>
            <ion-item ng-repeat="sentence in vocabulary track by sentence.id" ng-show="sentence.existwav>0" href="#/sentence/{{trainingPath}}/{{sessionPath}}/{{sentence.id}}/{{subject.id}}">
                {{sentence.title}} <span class="badge"> {{sentence.existwav}} </span>
            </ion-item>
        </ion-list>
    </ion-content>    
</ion-view>
