<ion-view view-title="TRAINING">

    <ion-nav-bar class="bar-positive">    
        <ion-nav-back-button class="button-clear" ui-sref="home">
            <i class="ion-home"></i>
        </ion-nav-back-button>    
    </ion-nav-bar>  
    
    
    <ion-footer-bar class="bar-positive">
       
        <div class="button-bar" ng-if="!selectList">        
            <button class="button button-full button-positive" ng-click="doEditTrainVocabulary()">{{labelEditTrainVocabulary}}</button>    
            <button class="button button-full button-positive" ng-click="startTraining()">{{labelStartTrainSession}}</button>        
        </div>          
    </ion-footer-bar>     
    
    
    <ion-content>
        <button class="button button-full button-positive" ng-if="selectList" ng-click="selectSentences()">{{labelSelectSentences}}</button>  

        <ion-item >nome : <span class="badge"> {{vocabularyObject.name}} </span></ion-item>    
        <ion-item ># comandi : <span class="badge"> {{vocabularyObject.ncommands}} </span></ion-item>    
        <ion-item ># ripetizioni : <span class="badge"> {{vocabularyObject.nrep}} </span></ion-item>    
        
        <ion-item class="item item-dark">Sessioni presenti</ion-item>          
        
        <ion-list>
            <ion-item ng-repeat="session in subject.sessions track by $index" href="#/manage_recordings/{{session.parentdirname}}/{{session.name}}/">
                {{session.name}}
            </ion-item>
        </ion-list>   
    </ion-content>
      
</ion-view>

