<ion-view view-title="GESTISCI VOCABOLARIO" align-title="center">  
        
    <ion-header-bar class='bar-assertive bar-subheader bar-dark'>
        {{headerTitle}}
    </ion-header-bar>      
    
<!--    <ion-nav-title> {{ pageTitle }} </ion-nav-title>-->
    
    <ion-nav-bar class="bar-positive">    
       <ion-nav-back-button class="button-clear" ui-sref="home">
           <i class="ion-arrow-left-c"></i>Home
       </ion-nav-back-button>    
     </ion-nav-bar>    
       
    <ion-nav-buttons side="right">
        <button class="button" ng-click="deleteVocabulary()">
            <i class="icon ion-trash-a"></i>
        </button>
    </ion-nav-buttons>  
    
    <ion-content class="padding">
<!--        <h1 style="text-align: center;"></h1><br/>-->
        
        <button class="button button-outline button-tall button-block button-large button-positive" ui-sref="manage_commands({modeId:enum_showvoccommands, foldername:vocabulary_folder_name, backState:'vocabulary'})" >{{labelEditTrainVocabulary}}</button>
        
        <button class="button button-outline button-tall button-block button-large button-positive" ui-sref="manage_recordings({modeId:enum_recordsession, foldername:vocabulary_folder_name, backState:'vocabulary'})" >{{labelManageSession}}</button>
        
        <button class="button button-outline button-tall button-block button-large button-positive" ui-sref="voicebank({elems2display:enum_show_vb_voc, foldername:vocabulary_folder_name, backState:'vocabulary'})" >{{labelRecordVoice}}</button>
        
        <button class="button button-outline button-tall button-block button-large button-positive" ng-disabled="!status.existCompletedTrainingSession" ui-sref="manage_recordings({modeId:enum_recordsession, foldername:vocabulary_folder_name, backState:'vocabulary'})" >{{labelTrainVocabulary}}</button>
        
        <!--<button class="button button-tall button-block button-large button-positive" ng-click="loadModel()">{{labelLoadVocabulary}}</button>-->
        <ion-toggle
            ng-disabled="!status.modelExist"
            ng-checked="status.modelLoaded"
            ng-click="loadModel(status.modelLoaded)"
            ng-model="status.modelLoaded"
            class="toggle-tall toggle-positive item item-text-wrap">
            {{labelLoadVocabulary}}
        </ion-toggle>  
        
        <!--<button class="button button-block button-large button-positive" ng-if="modelLoaded" ui-sref="training">{{}}</button>-->
        
        <br/><br/> 
        <br/><br/> 

    </ion-content>
  
</ion-view>