<ion-view view-title="VOCABOLARIO" align-title="center">  
        
    <ion-header-bar align-title="center" class='bar-assertive bar-subheader bar-dark text-maxi text-center'>
        {{headerTitle}}
    </ion-header-bar>      
    
    <ion-nav-buttons side="left">
        <button class="button button-header-big" ui-sref="home">
           <i class="ion-home"></i>
        </button>
    </ion-nav-buttons>  
       
    <ion-nav-buttons side="right">
        <button class="button button-header-big" ng-disabled="isDefault" ng-click="deleteVocabulary()">
            <i class="icon ion-trash-a"></i>
        </button>
    </ion-nav-buttons>  
    
    <ion-content class="padding">
       
        <button class="button button-outline button-tall button-block button-large button-positive" ui-sref="manage_commands({modeId:enum_showvoccommands, foldername:foldername, backState:'vocabulary'})" >{{labelEditTrainVocabulary}}</button>
        
        <button class="button button-outline button-tall button-block button-large button-positive" ng-if="!incompleteRecordings" ng-disabled="isDefault" ui-sref="manage_recordings({foldername:foldername, backState:'vocabulary'})" >{{labelManageSession}}</button>
        <button class="button button-tall button-block button-large button-royal"                   ng-if="incompleteRecordings" ng-disabled="isDefault" ui-sref="manage_recordings({foldername:foldername, backState:'vocabulary'})" >{{labelManageSession}}</button>
        
        <button class="button button-outline button-tall button-block button-large button-positive" ui-sref="voicebank({elems2display:enum_show_vb_voc, foldername:foldername, backState:'vocabulary'})" >{{labelRecordVoice}}</button>
        
        <button class="button button-outline button-tall button-block button-large button-positive" ng-disabled="isDefault || !isConnected || incompleteRecordings" ui-sref="manage_training({foldername:foldername, backState:'vocabulary'})" >{{labelTrainVocabulary}}</button>
        
        <label class="item item-input item-select" ng-if="!isDefault">
            <div class="input-label">RETE ATTIVA</div>
            <select ng-model="selectedNet" ng-change="updateSelectedNet(selectedNet)" ng-options="item.label for item in existingNets track by item.value"></select>            
        </label>   

    </ion-content>
  
</ion-view>