<ion-view view-title="VOCABOLARI">
    <ion-nav-bar class="bar-positive">  
        
        <ion-nav-buttons side="left">
            <button class="button button-header-big" ui-sref="home">
               <i class="ion-home"></i>
            </button>
        </ion-nav-buttons>          
        
<!--        <ion-nav-back-button class="button-clear" ui-sref="home">
            <i class="ion-arrow-left-c"></i>Home
        </ion-nav-back-button> -->
        
        <ion-nav-buttons side="right">
            <button class="button button-header-big" ng-click="newVocabulary()">
                <i class="icon ion-plus-round"></i>
            </button>        
        </ion-nav-buttons>          
    </ion-nav-bar>     

    <ion-content>
        <ion-item class="item item-divider">VOCABOLARIO SELEZIONATO</ion-item>
        
        <div class="card" ng-if="activeVocabulary" ng-click="editVocabulary(activeVocabulary)">
            <div class="item item-divider">
               {{activeVocabulary.sLabel}}
            </div>
            <label class="item">Numero comandi : <span class="badge">{{activeVocabulary.nItems2Recognize}}</span></label>        
            <label class="item">Status : <span class="badge">{{activeVocabulary.sStatus}}</span></label>        
        </div>                    
        
        <ion-item class="item item-divider">ALTRI VOCABOLARI</ion-item>
      
        <ion-list>
            <ion-item ng-repeat="item in vocabularies track by $index">
                <div class="card" ng-if="item.sLocalFolder != activeVocabularyName">
                    <ion-item class="item item-divider item-button-right"  style="background-color: #C2A5A5 !important">{{item.sLabel}}
                        <div class="buttons">
                            <button class="button" ng-click="editVocabulary(item)">
                                <i class="icon ion-edit"></i>
                            </button>
                        </div>                
                    </ion-item>
                    
                    <label class="item">Numero comandi : <span class="badge">{{item.nItems2Recognize}}</span></label>      
                    <label class="item">Status : <span class="badge">{{item.sStatus}}</span></label>        
                    <button class="button button-block button-positive" ng-click="activateVocabulary(item)">ATTIVA VOCABOLARIO</button>                  
                </div>                    
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
