<ion-view view-title="Voice Bank">

    <ion-nav-bar class="bar-positive">    
        <ion-nav-back-button class="button-clear" ui-sref="home">
            <i class="ion-arrow-left-c"></i>Home
        </ion-nav-back-button>    
     
        <ion-nav-buttons side="right">
            <button class="button" ng-click="newSentence()">
                <i class="icon ion-plus-round"></i>
            </button>        
            <button class="button" ng-disabled="isBusy" ng-click="recordAudioSequence()">REGISTRA
                <!--<i class="icon ion-mic-a"></i>-->
            </button>
        </ion-nav-buttons>       
    </ion-nav-bar> 
    
    
    <ion-header-bar class='bar-assertive bar-subheader bar-dark'>
        <h2 class='title'>{{subHeaderTitle}}</h2>
    </ion-header-bar>
    
    <ion-footer-bar class="bar-positive">
        <div class="button-bar">        
            <button class="button button-custom button-block button-positive" ng-disabled="!showOnlyTrained" ng-click="refreshAudioList()">TUTTI</button>        
            <button class="button button-custom button-block button-positive" ng-disabled="showOnlyTrained" ng-click="refreshTrainingAudioList()">ADDESTRATI</button>        
        </div>             
    </ion-footer-bar>      
    
    <ion-content>
        <ion-list>
            <ion-item class="item-button-right" ng-repeat="sent in voicebankSentences track by $index"> {{sent.title}}
                <div class="buttons">
                    <button class="button button-clear button-balanced" ng-disabled="isBusy" ng-show="sent.existwav" ng-click="playAudio(sent.filename)">
                        <i class="icon ion-play"></i>
                    </button>
                    <button class="button button-clear button-assertive" ng-disabled="isBusy" ng-click="recordAudio(sent.id)">
                        <i class="icon ion-record"></i>
                    </button>
                    <button class="button button-clear button-assertive" ng-disabled="isBusy" ng-show="sent.editable" ng-click="deleteSentence(sent)">
                        <i class="icon ion-trash-a"></i>
                    </button>
                </div>                
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>