<ion-view view-title="record">
    <ion-content>

        <!--<label class="item">{{sentence}}</label>-->
        <ion-item>
          <input type="text" ng-model="wavName"/>
        </ion-item>
          
        <div class="button-bar">        
            <button class="button button-block button-large button-positive icon icon-left ion-mic-a" ng-click="startRecording()">{{recButtonLabel}}</button>       
            <button class="button button-block button-large button-assertive icon icon-left ion-record" ng-disabled="!something2save" ng-click="saveAudio()">SALVA</button>       
        </div> 
        
        <div class="button-bar">        
            <button class="button button-block button button-balanced icon icon-only ion-play" ng-disabled="(isPlaying && !isPaused) || !something2save" ng-click="playAudio()"/>
            <button class="button button-block button button-energized icon icon-only ion-pause" ng-disabled="!isPlaying || isPaused" ng-click="pauseAudio()"/>
            <button class="button button-block button button-royal icon icon-only ion-stop" ng-disabled="!isPlaying" ng-click="stopAudio()"/>
        </div>             
      
        <label class="item">VOLUME<span class="badge">{{volume}}</span></label>
        <div class="item range">
            <i class="icon ion-volume-low"></i>
            <!--<input type="range" name="volume" ng-model="volume" ng-change="onChangeVolume()" ng-disabled="!isRunning">-->
            <input type="range" name="volume" ng-model="volume" ng-change="onChangeVolume(volume)">
            <i class="icon ion-volume-high"></i>
        </div>
        
        <div class="chart" style="width:100%; height:{{chart.height}}px; left:0px;">
            <div class="bar" style="height:{{chart.mean_data * chart.height / chart.yScale}}px; width:40px; left:10px;"></div>
            <!-- Labels -->
<!--            <div class="y" style="width:{{chart.height}}px; left:10;">{{chart.yAxis}}</div>
            <div class="x">{{chart.xAxis}}</div>-->
            <!-- Data -->
            <div ng-repeat="dot in chart.data track by $index" class="dot" style="bottom:{{(dot + chart.y0) * chart.height / chart.yScale}}px; left:{{($index + 0.5) / chart.data.length * chart.width + 60}}px;"></div>   
            <!--<div ng-repeat="bar in spectrum track by $index" class="bar" style="height:{{bar / max_spectrum * height}}px; width:1px:; left:{{$index / spectrum.length * width}}px;"></div>    {{chart.width / chart.data.length - 65}}px -->
            
            <!--{{dot / chart.max_data * chart.height*chart.yScale}}px-->
            
        </div>         
        
  </ion-content>
</ion-view>
