<ion-view view-title="RICONOSCIMENTO">
    
 <ion-nav-bar class="bar-positive">    
    <ion-nav-back-button class="button-clear" ui-sref="home">
        <i class="ion-arrow-left-c"></i>Home
    </ion-nav-back-button> 
     
    <ion-nav-buttons side="right">
        <button class="button" ng-disabled="isvoicemonitoring" ng-click="go2settings()">
            <i class="icon ion-mic-a"></i>
        </button>
    </ion-nav-buttons>      
     
  </ion-nav-bar>     
    
   
  <ion-content>
    <div class="list">
<!--        <label class="item item-input item-select">
            <div class="input-label">Source Type</div>
            <select ng-model="selectedSourceType" ng-change="updateSourceType(selectedSourceType)" ng-options="item.label for item in input_sources track by item.value"></select>            
        </label>     -->
        
<!--        <label class="item item-input item-select">
            <div class="input-label">S. Frequency</div>
            <select ng-model="selectedFrequency" ng-change="updateFrequency(selectedFrequency)" ng-options="item.label for item in sampling_frequencies track by item.value"></select>            
        </label>     

        <label class="item item-input item-select">
            <div class="input-label">Capture Buffer</div>
            <select ng-model="selectedCaptureBuffer" ng-change="updateCaptureBuffer(selectedCaptureBuffer)" ng-options="item.label for item in capture_buffer track by item.value"></select>            
        </label>     -->
        

        <ion-toggle ng-model="HeadsetSelected" ng-disabled="!HeadsetAvailable" ng-click="onHeadsetChange(HeadsetSelected)"> Input Source</ion-toggle>


<!--        <label class="item">Sampling Frequency : <span class="badge">{{selectedSF}}</span></label>        
        <label class="item">Buffer Size: <span class="badge">{{selectedCBS}}</span></label>    -->

<!--        <label class="item">Data received : <span class="badge">{{totalReceivedData}}</span> </label>   
        <label class="item">Elapsed Time : <span class="badge">{{elapsedTime*1000 | secondsToDateTime }}</span></label>      -->
        <!--<label class="item"># chunks : <span class="badge">{{totalNoOfSpeechCaptured}}</span></label>-->        
        <label class="item">is Speaking : <span class="badge">{{isSpeaking}}</span></label>        
        <label class="item">Voice Intensity : <span class="badge">{{voiceDB}}</span></label>        

        <button class="button button-block button-positive" ng-click="startVoiceActivityMonitoring()">{{vm_voice_label}}</button> 
        
<!--        <ion-list>
            <ion-toggle
                    ng-repeat="model in modelsJson track by $index"
                    ng-checked="model.checked"
                    ng-model="model.checked"
                    ng-click="selectModel($index)
                    class="item item-text-wrap">
                    {{model.jsonname]}}
            </ion-toggle>            
        </ion-list>  -->
        
        <ion-list>
            <ion-item class="item-button-right" ng-repeat="chunk in chunksList"> {{chunk}}
                <div class="buttons">
                    
                    <button class="button button-clear button-balanced" ng-click="playAudio(chunk)">
                        <i class="icon ion-play"></i>
                    </button>
                    
                    <button class="button button-clear button-assertive" ng-click="deleteAudio(chunk)">
                        <i class="icon ion-trash-a"></i>
                    </button>
                    
                </div>                
            </ion-item>
        </ion-list>
        

        <ion-list>
            <ion-item ng-repeat="model in modelsJson track by $index">
                <label>{{model.jsonname}}</label>
            </ion-item>
        </ion-list>         
        
        <ion-list>
            <ion-item ng-repeat="item in recognizedItems track by $index">
                <label>{{item.title}}<span class="badge">{{item.confidence}}</span></label>
            </ion-item>
        </ion-list>         
        
    </div>      
  </ion-content>
</ion-view>
