<ion-view view-title="Audio Input Settings">
    
<ion-nav-buttons side="left">
 <button class="button button-clear" ui-sref="home"><i class="icon ion-arrow-left-c" ></i>Home</button>
</ion-nav-buttons>
    
  <ion-content>
    <div class="list">
        <label class="item item-input item-select">
            <div class="input-label">S. Frequency</div>
            <select ng-model="selectedFrequency" ng-change="updateFrequency(selectedFrequency)" ng-options="item.label for item in sampling_frequencies track by item.value"></select>            
        </label>     

        <label class="item item-input item-select">
            <div class="input-label">Capture Buffer</div>
            <select ng-model="selectedCaptureBuffer" ng-change="updateCaptureBuffer(selectedCaptureBuffer)" ng-options="item.label for item in capture_buffer track by item.value"></select>            
        </label>     
        
        <label class="item item-input item-select">
            <div class="input-label">Sub Sampling</div>
            <select ng-model="selectedSSF" ng-change="updateSubsamplingFactor(selectedSSF)" ng-options="item.label for item in subsampling_factors track by item.value"></select>            
        </label>     

        <label class="item">Data received : <span class="badge">{{totalReceivedData}}</span> </label>   
        <label class="item">Elapsed Time : <span class="badge">{{elapsedTime*1000 | secondsToDateTime }}</span></label>      
        <label class="item">bitrate : <span class="badge">{{bitRate}}</span></label>        
        <label class="item">is Speaking : <span class="badge">{{isSpeaking}}</span></label>        

        <button class="button button-block button-positive" ng-click="startVoiceMonitoring()">{{vm_raw_label}}</button> 
        <button class="button button-block button-assertive" ng-click="startVoiceMonitoringDebug()">{{vm_fft_label}}</button> 
        <button class="button button-block button-positive" ng-click="startVoiceActivityMonitoring()">{{vm_voice_label}}</button> 

        <div class="chart" style="width:100%; height:{{chart.height}}px; left:0px;">
            <div class="bar" style="height:{{chart.mean_data * chart.height / chart.yScale}}px; width:40px; left:10px;"></div>
            <!-- Labels -->
<!--            <div class="y" style="width:{{chart.height}}px; left:10;">{{chart.yAxis}}</div>
            <div class="x">{{chart.xAxis}}</div>-->
            <!-- Data -->
            <div ng-repeat="dot in chart.data track by $index" class="dot" style="bottom:{{(dot + chart.y0) * chart.height / chart.yScale}}px; left:{{($index + 0.5) / chart.data.length * chart.width + 60}}px;"></div>   
            <!--<div ng-repeat="bar in spectrum track by $index" class="bar" style="height:{{bar / max_spectrum * height}}px; width:1px:; left:{{$index / spectrum.length * width}}px;"></div>    {{chart.width / chart.data.length - 65}}px -->
            
            <!--{{dot / chart.max_data * chart.height*chart.yScale}}px-->
            
        </div>        
        
    </div>      
  </ion-content>
</ion-view>
