<ion-modal-view>
        
    <ion-content class="padding">
        <button class="button button-maxi button-block button-large button-positive" ng-click="action(0)">{{labelActionButton}} VOCABOLARIO:<br>{{appStatus.userActiveVocabularyName}} </button>
        <button class="button button-maxi button-block button-large button-positive" ng-click="action(1)">{{labelActionButton}} VOCABOLARIO:<br>{{appStatus.userActiveVocabularyName}} </button>
        <button class="button button-maxi button-block button-large button-positive" ng-click="action(2)">{{labelActionButton}} VOCABOLARIO:<br>{{appStatus.userActiveVocabularyName}} </button>
    </ion-content>
    
</ion-modal-view>
