<ion-modal-view>
    <ion-content class="padding">
        
        <div class="item item-text-wrap text-big">
            {{modalText}}
        </div>
        
        <button class="button button-maxi button-block button-large button-positive" ng-click="TwoQuestionsAction(true)"  style="text-transform:uppercase">{{labelActionA}}</button>
        <button class="button button-maxi button-block button-large button-positive" ng-click="TwoQuestionsAction(false)" style="text-transform:uppercase">{{labelActionB}}</button>
    </ion-content>
</ion-modal-view>
