<ion-modal-view>
    <ion-content>

        <div class="card">
            <div class="item item-text-wrap text-big">
                {{registerNewDeviceText}}
            </div>
            <label class="item item-input text-big">
                <input type="text" placeholder="inserisci qui il codice di registrazione" ng-model="apikey.label">
            </label>            
            <div class="button-bar">        
                <button class="button button-custom button-block button-positive" ng-disabled="!apikey.label.length" ng-click="onApiKey(apikey)">REGISTRA</button>
                <button class="bu button button-custom button-block button-positive" ng-click="onApiKey()">CANCELLA</button>
            </div>            
        </div>        
        

    </ion-content>
</ion-modal-view>
