<ion-modal-view>
    <ion-content>

        <div class="card">
            <div class="item item-text-wrap">
                {{createNewVocabularyText}}
            </div>
            <label class="item item-input">
                <input type="text" placeholder="inserisci qui il nome del vocabolario" ng-model="newTV.label">
            </label>            
            <div class="button-bar">        
                <button class="button button-custom button-block button-positive" ng-disabled="!newTV.label.length" ng-click="onSelectNewVocabularyName(newTV)">CREA</button>
                <button class="button button-custom button-block button-positive" ng-click="onCancelNewVocabularyName()">CANCELLA</button>
            </div> 
        </div>  

        <div class="card">
            <button class="button button-block button-positive" ng-disabled="selVoc2Copy.data==null || !newTV.label.length" ng-click="onCopyFromVocabulary(newTV, selVoc2Copy)">COPIA UN VOCABOLARIO ESISTENTE</button>
            <ion-radio ng-repeat="voc in existingVocabularies" ng-model="selVoc2Copy.data" ng-value="voc.sLocalFolder">{{ voc.sLabel }}</ion-radio>
        </div>          
    </ion-content>
</ion-modal-view>
