<ion-modal-view>

    <ion-footer-bar class="bar-positive">
        <div class="button-bar">        
            <button class="bu button button-custom button-block button-positive text-big" ng-click="closeModalSubmit()">CANCELLA</button>
        </div>          
    </ion-footer-bar>  
    
    <ion-content>

            <div class="item item-divider">STATUS</div>

            <!--FEATURES-->
            <ion-item class="item-icon-right" ng-if="(!isCalcFeatures && vocabulary_status.haveFeatures)">Estrazione parametri vocali<span><i class="icon ion-checkmark-circled"></i></span></ion-item>    
            <label class="item" ng-if="isCalcFeatures">Estrazione parametri vocali : <span class="badge">{{percFiles}} %</span></label> 
<!--
            ZIP
            <ion-item class="item-icon-right" ng-if="vocabulary_status.haveZip">ZIP features<span><i class="icon ion-checkmark-circled"></i></span></ion-item>    
            <ion-item class="item-icon-right" ng-if="!vocabulary_status.haveZip">ZIP features</ion-item>    -->

            <!--UPLOAD RETE-->
            <ion-item class="item-icon-right" ng-if="(!isUploading && isTraining)">Upload Dati<span><i class="icon ion-checkmark-circled"></i></span></ion-item>    
            <label class="item" ng-if="(!isUploading && !isTraining)">Upload Dati</label> 
            <label class="item" ng-if="isUploading">Upload Dati : <span class="badge">{{percUpload}} %</span></label> 
            
            <!--CHIEDI RETE-->
            <ion-item class="item-icon-right" ng-if="vocabulary_status.isNetAvailableRemote">Controllo Rete<span><i class="icon ion-checkmark-circled"></i></span></ion-item>    
            <ion-item class="item"            ng-if="!isChecking && !vocabulary_status.isNetAvailableRemote">Controllo Rete</ion-item>    
            <ion-item class="item-icon-right" ng-if="isChecking ">Controllo Rete<span><i class="icon ion-loop"></i></span></ion-item>    
            
            <!--DOWNLOAD RETE-->
            <ion-item class="item-icon-right" ng-if="vocabulary_status.isNetAvailableLocale">Download Rete<span><i class="icon ion-checkmark-circled"></i></span></ion-item>    
            <label class="item" ng-if="!isDownloading && !vocabulary_status.isNetAvailableRemote">Download Rete</label> 
            <label class="item" ng-if="isDownloading">Download Rete : <span class="badge">{{percDownload}} %</span></label> 
            
            <ion-item class="item-button-right" ng-if="!isDownloading && vocabulary_status.isNetAvailableRemote">Download Rete
                <div class="buttons">
                    <button class="button button-assertive" ng-click="getNet();">
                        <i class="icon ion-android-download"></i>
                    </button>
                </div>                
            </ion-item>              
            

    </ion-content>
    
</ion-modal-view>