<ion-modal-view>
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap text-big">
                {{specifyGenderText}}
            </div>
            <div class="list">
                <div class="padding">
                    <button class="button button-full button-positive button-big" ng-click="isMale(true)">MASCHIO</button>
                    <button class="button button-full button-positive button-big" ng-click="isMale(false)">FEMMINA</button>
                </div>  
            </div>  
        </div>        
    </ion-content>
</ion-modal-view>
