<ion-modal-view>
    <ion-content>

        <div class="card">
            <div class="item item-text-wrap">
                {{want2beRegisteredText}}
            </div>
            <div class="list">
                <div class="padding">
                    <button class="button button-full button-positive" ng-click="OnWant2beRegistered(true)">SI</button>
                    <button class="button button-full button-positive" ng-click="OnWant2beRegistered(false)">NO</button>
                </div>  
            </div>            
        </div>        
        

    </ion-content>
</ion-modal-view>
