<ion-modal-view>
    <ion-content>

        <div class="card">
            <div class="item item-text-wrap">
                {{want2beAssistedText}}
            </div>
            <div class="list">
                <div class="padding">
                    <button class="button button-full button-positive" ng-click="OnWant2beAssisted(modalities.SOLO)">SOLO</button>
                    <button class="button button-full button-positive" ng-click="OnWant2beAssisted(modalities.GUEST)">GUEST</button>
                    <button class="button button-full button-positive" ng-click="OnWant2beAssisted(modalities.ASSISTED)">ASSISTITA</button>
                </div>  
            </div>            
        </div>        
        

    </ion-content>
</ion-modal-view>
