<ion-modal-view>
    
    <ion-footer-bar class="bar-positive">
        <button class="button button-full button-block button-large button-positive" ng-click="exit()">Exit</button>        
    </ion-footer-bar>  
    
    <ion-content>

        <div class="card">
            <div class="item item-text-wrap">
                {{want2beAssistedText}}
            </div>
            <div class="list">
                <div class="padding">
                    <button class="button button-full button-positive" ng-click="OnWant2beAssisted(modalities.SOLO)">SOLO</button>
                    <button class="button button-full button-positive" ng-click="OnWant2beAssisted(modalities.GUEST)">GUEST</button>
                    <button class="button button-full button-positive" ng-click="OnWant2beAssisted(modalities.ASSISTED)">ASSISTITA</button>
                </div>  
            </div>            
        </div>        
        

    </ion-content>
</ion-modal-view>
