/* Empty. Add your own CSS if you like */

.chart {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 60px auto;
  position: relative;
}

.y {
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: bottom left;
  bottom: 0;
  padding: 5px;
}

.x {
  position: absolute;
  top: 100%;
  width: 100%;
  padding: 5px;
}

.dot {
  background: blue;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: absolute;
}

.bar {
  background: blue;
  position: absolute;
  bottom: 0;
}

.bar-footer{
    position : absolute;
    bottom : 10;
    height : 40px;
    margin-top : 40px;
}

.bar-footer .button-custom{
  font-size: 34px !important;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin: 0;
  padding: 0;
  background-color: #ed4949;
  color: white;
}